<footer class="footer">
    <div class="footer-content">
        <div class="footer-section about">
            <h3>Sobre Nós</h3>
            <p>Sobre a mush</p>
        </div>
        <div class="footer-section links">
            <h3>Links Úteis</h3>
            <ul>
                <li><a href="../pages/main.html">Home</a></li>
            </ul>
            <ul>
                <li><a href="../pages/projetos.html">Projetos</a></li>
            </ul>
            <ul>
                <li><a href="../pages/financeiro.html">Financeiro</a></li>
            </ul>
            <ul>
                <li><a href="../pages/canal.html">Canal</a></li>
            </ul>
        </div>
        <div class="footer-section contact">
            <h3>Contato</h3>
            <p><i class="fas fa-envelope"></i> Email: contato@mush.com</p>
            <p><i class="fas fa-phone-alt"></i> Telefone: (11) 1234-5678</p>
            <div class="social-icons">
                <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Todos os direitos reservados.</p>
    </div>
</footer>
